# General Project Configuration
PROJ_TITLE="KidsBday"
PORT_FRONTEND="3000"
PORT_BACKEND="3001"
NUXT_PUBLIC_FRONTEND_URL="http://localhost:3000"
BACKEND_URL="http://[::1]:3001"
DEFAULT_LANGUAGE="en-US"
AVATAR_TYPE="GRAVATAR"
NUXT_PUBLIC_MAX_COMPANIONS_PER_GUEST="1"

# Database Configuration
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
NUXT_JWT_SECRET="secret"
NUXT_PUBLIC_JWT_EXPIRATION="180d"

# Email Configuration
EMAIL_HOST="smtp.example.com"
EMAIL_PORT="587"
EMAIL_HOST_USER="noreply@example.com"
EMAIL_HOST_PASSWORD="XXXXXXXXX"

# OAUTH Provider
NUXT_PUBLIC_GITHUB_CLIENT_ID=""
NUXT_GITHUB_CLIENT_SECRET=""
NUXT_PUBLIC_GOOGLE_CLIENT_ID=""
NUXT_GOOGLE_CLIENT_SECRET=""
NUXT_PUBLIC_DISCORD_CLIENT_ID=""
NUXT_DISCORD_CLIENT_SECRET=""
AUTH_CALLBACK_BASE="http://localhost:3000/guests/local"
AUTH_TOKEN_EXPIRATION="1d"
